/BankAccount.App/bin/Debug/netcoreapp2.1/BankAccount.Core.dll
/BankAccount.App/bin/Debug/netcoreapp2.1/BankAccount.Core.pdb
/BankAccount.App/obj/Debug/netcoreapp2.1/BankAccount.App.csprojAssemblyReference.cache
/BankAccount.Core/bin/Debug/netcoreapp2.1/BankAccount.Core.dll
/BankAccount.Core/bin/Debug/netcoreapp2.1/BankAccount.Core.pdb
/BankAccount.Core/obj/Debug/netcoreapp2.1/BankAccount.Core.dll
/BankAccount.Core/obj/Debug/netcoreapp2.1/BankAccount.Core.pdb
